header {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 100px;


    .logo {
        transition: .5s;
        
        & p {
            font-size: 40px;
            font-family: 'Bebas Neue', sans-serif;
        }
        
        &:hover {
            transform: scale(1.1);
        }
    }

    .abrir-menu,
    .cerrar-menu{
        display: none;
    }

    .nav {
        .nav-list {
            list-style-type: none;
            display: flex;
            gap: 2rem;

            & li {
                font-size: 25px;
                padding-inline: 10px;
            }

            & img {
                display: none;
            }

            & a {
                text-decoration: none;
                color: #2c2c2c;
            }

            .mi {
                padding-inline: 20px;
                border-right: 1px solid black;
                border-left: 1px solid black;
            }
        }
}
   

}

