
/* mediaquaris shop */

@media (max-width: 900px) {
    header {
        height: 250px;
        background-repeat: no-repeat;
        padding: 35px;
        padding-top: 60px;

    }
    main {
      
        

        .products {
            width: 100%;
            display: flex;
            flex-direction: column;

            .product {
                margin-top: 70px;
                margin-inline: 50px;
                & img {
                    width: 200px;
                }
            }
        }
    }

    .footer {

        &__nav {
            gap: 3rem;
            & li {
                font-size: 25px;

                & p {
                    display: none;
                }
            }
        }
    }

}







@media (max-width: 550px) {

    header {
        padding: 20px;
        margin: 0;
        height: 250PX;
        width: 100%;
        background-size: cover;
        gap: 12rem;

        .logo {
            margin-top: 20px;
            & p {
                font-size: 30px;
            }
        }

        .menu {
            display: none;
            }

        .menu-lineas {
            display: block;
            
            

            & i {
                font-size: 30px;
            }

        }
    }

    .navbar {
       
        &__item {

            & a {
                font-size: 16px;
            }
        }
    }

    main {
        margin: 0;
        padding: 10PX;
        border: none;

        .products {
            width: 100%;
            display: flex;
            flex-direction: column;

            .product {

                margin-top: 50px;

                & img {
                    width: 200px;
                }
            }
        }
    }

    .footer {

        &__nav {
            gap: 1rem;
            & li {
                font-size: 16px;

                & p {
                    display: none;
                }
            }
        }
    }
}


/* mediaquaris log in */

@media (max-width: 900px) {

    .main-login {
        padding-inline: 0;

        .login-content {
            display: flex;
            flex-direction: column;

            .content-formulario {
                padding-top: 50px;
            }

            .login-img {
                display: none;
            }
        }
    }
}

@media (max-width: 550px) {

    .main-login {
        margin: 20px;

        .login-content {
           border: none;
            padding: 0;
            width: 90%;

            .content-formulario {
                padding-top: 50px;
            }

            .login-img {
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {

    header {
   .abrir-menu,
   .cerrar-menu {
    cursor: pointer;
       display: block;
       border: 0;
       font-size: 30px;
       background-color: transparent;
   }
   .cerrar-menu {
     padding: 2rem;
     padding-bottom: 1rem;
   }

       .nav {
           opacity: 0;
           visibility: hidden;

           display: flex;
           flex-direction: column;
           align-items: end;
           position: absolute;
           top: 0;
           right: 0;
           bottom: 0;
           background-color: #ffffff;
           box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
           z-index: 1;
           

           & .nav-list {
               flex-direction: column;
               align-items: center;

               .mi {
                   border: 0;
               }
               & img{
                   display: block;
                   width: 200px;
               }

               & li {
            
                  margin-inline: 50px;

                   &  a {
                       font-size: 20px;
                   
                   }
   
                   &  i {
                       cursor: pointer;
                       font-size: 25px;
                 
                   }
               } 
           }
       }
                
       .visible {
           opacity: 1;
           visibility: visible;  
       }
}

   
}

