.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
    &__item {
        transition: 1s;
        & a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    }

    .pd {
        margin-inline: 20px;
        padding-inline: 20px;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .sub {
        text-decoration: underline;
    }
}